////
/// @group Base-Elements
////

@use "../lib/utils";
@use "../lib/color";
@use "../lib/element";
@use "../lib/typography";
@use "../lib/breakpoint";

/// Prints elements base styles

@mixin styles {

  @include utils.file-header('base', 'elements');

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  html {
    -webkit-text-size-adjust: 100%;
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
  body {
    color: color.get('type');
    background-color: white;
    font-family: typography.get("font-family");
    // Note we are using relative units here instead of setting a 
    // pixel base like we use to on the HTML
    // This will allow the user preference in font size
    // Useful for accessibility
    @include typography.size("base");
    @include breakpoint.embed-for-scripts();
  }
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6, 
  ul, 
  ol, 
  li,
  pre, 
  code,
  p { 
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    border-width: 0;
    border-style: solid;
    font-weight: inherit;
  }
  p {
    margin-top: 0;
    margin-bottom: typography.get("margin-bottom"); 
  }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  small { 
    @include typography.size("small", ("line-height" : typography.get("line-height-dense"))); 
  }
  sub { 
    bottom: -0.25em; 
  }
  sup { 
    top: -0.5em; 
  }
  b, 
  strong { 
    font-weight: bold; 
  }
  code,
  kbd,
  samp,
  pre {
    font-family: typography.get("font-family-monospace");
  }
  hr {
    height: 0;
    border: 0;
    box-sizing: content-box;
    overflow: visible;
    margin: element.$margin 0;
    border-bottom: element.$rule;
  }
  iframe {
    border: 0;
    outline: 0;
  }
  img {
    width: auto;
    height: auto;
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
  }
  // Not styling ordered lists because they are used in navigation and other UI components
  ul { 
    list-style: none; 
  }
  // Style ordered lists since we don't use them much in the UI components
  ol {
    margin-bottom: element.$margin;
    list-style: element.$ol-list-style-type outside;
    li {
      margin-bottom: element.$margin-small;
      margin-left: 1rem;
    }
    ol {
      margin: element.$margin-small 0 0 element.$margin-small;
      list-style: element.$ol-list-style-type--2;
      ol { 
        list-style-type: element.$ol-list-style-type--3;
      }
    }
  }
  a {
    @include element.link();
  }
}