////
/// @group base
////

@use "../utils";

/// Prints CSS keyframes
/// @name base-keyframes-styles
/// @example scss
///  @include ulu.base-keyframes-styles();

@mixin styles {
  @include utils.file-header('base', 'keyframes');

  @keyframes FadeDownIn {
    0%    {
      opacity: 0; 
      transform: translateY(-10px);
    }
    100%  {
      opacity: 1; 
      transform: translateY(0);
    }
  }
}