////
/// @group element
////

@use "color";

/// Backdrop blur amount used on elements/components
/// @type Number

$backdrop-blur: 4px !default;     

/// Box-shadow definition for elements that are on top of page 
/// @type Number

$box-shadow: 0 1px 5px color.get('box-shadow') !default;

/// Box-shadow definition for elements that are raised off of the page (dropdowns, etc)

$box-shadow--raised: 0 1px 12px color.get('box-shadow') !default;

/// Box-shadow definition for elements that are above the page (fixed items, etc)

$box-shadow--above: 0 1px 20px color.get('box-shadow') !default;

/// Common element border radius

$border-radius: 8px !default;

/// Common element border radius (small)

$border-radius--small: 3px !default;

/// Common element border radius (large)

$border-radius--large: 5% !default;

/// Border definition for elements that use a rule (divider), 
/// to change color set it in color module's palette

$rule: 1px solid color.get('rule') !default;

/// Border definition for elements that use a light weight rule (divider), 
/// to change color set it in color module's palette

$rule-light: 1px solid color.get('rule-light') !default;

/// Common element margin (small)

$margin-small: 0.65em !default;

/// Common element margin

$margin: 1em !default;

/// Common element margin (large)

$margin-large: 2em !default;

/// Ordered list type (level 1)

$ol-list-style-type: decimal !default;

/// Ordered list type (level 2)

$ol-list-style-type--2: lower-alpha !default;

/// Ordered list type (level 3)

$ol-list-style-type--3: lower-roman !default;

/// Print link styles
/// @param {Boolean} $visited Include visited style
/// @param {Boolean} $active Include active style

@mixin link($visited: false, $active: false) {
  color: color.get("link");
  &:hover {
    color: color.get("link:hover");
  }
  @if ($visited) {
    &:visited {
      color: color.get("link:visited");
    }
  }
  @if ($active) {
    &:active {
      color: color.get("link:active");
    }
  }
}