////
/// @group layout
////

// Flexbox stuff
// Site padding margins

/// Prints clearfix styles

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
    flex-basis: 0; // Flexbox, clear fix for pseudo elements in Safari
    order: 1;
  }
  &:after { 
    clear: both; 
  }
  *zoom: 1;
}