////
/// @group component
////

@use "../element";
@use "../color";
@use "../selector";

$short-width: 2.5em !default;

@mixin styles {

  $class: selector.class("rule");
  
  #{ $class } {
    @include element.rule();
  }
  // Output user's styles presets
  @each $name, $value in element.$rule-styles {
    #{ $class }--#{ $name } {
      border-bottom: element.get-rule-style($name);
    }
  }
  // Output user's margin presets
  @each $name, $value in element.$rule-margins {
    #{ $class }--margin-#{ $name } {
      margin-top: element.get-rule-margin($name);
      margin-bottom: element.get-rule-margin($name);
    }
  }

  // Meant to be user by tself without content
  #{ $class }--short {
    width: $short-width;
  }
}