////
/// @group Helpers:Typography
////

@use "sass:map";
@use "../lib/utils";
@use "../lib/selector";
@use "../lib/typography";

/// Prints Typography Helper styles

@mixin styles {
  
  @include utils.file-header('helpers', 'typography');

  $prefix: selector.class("type");

  @each $size, $values in typography.$sizes {
    @if (map.get($values, "helper-class")) {
      @if (map.get($values, "helper-class-prefix")) {
        #{ $prefix }-#{$size} {
          @include typography.size($size);
        }
      } @else {
        .#{$size} {
          @include typography.size($size);
        }
      }
    }
  }
  
  #{ $prefix }-light    { font-weight: typography.get("font-weight-light"); }
  #{ $prefix }-normal   { font-weight: typography.get("font-weight-normal"); }
  #{ $prefix }-semibold { font-weight: typography.get("font-weight-semibold"); }
  #{ $prefix }-bold     { font-weight: typography.get("font-weight-bold"); }
  
  #{ $prefix }-italic   { font-style: italic; }

  #{ $prefix }-center   { text-align: center; }
  #{ $prefix }-left     { text-align: left; }
  #{ $prefix }-right    { text-align: right; }

  #{ $prefix }-upper    { text-transform: uppercase; }
  #{ $prefix }-lower    { text-transform: lowercase; }
  #{ $prefix }-title    { text-transform: capitalize; }

  #{ $prefix }-word-break { @include typography.word-break(); }
  #{ $prefix }-word-break-all { @include typography.word-break(true); }
}