/* 
=============================================================================
base - normalize
============================================================================= 
*/
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  line-height: inherit;
  font-size: 1rem;
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* 
=============================================================================
base - elements
============================================================================= 
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: black;
  background-color: white;
  font-family: ui-sans-serif, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-size: calc(1rem + 0.2vw);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
pre,
code,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  border-width: 0;
  border-style: solid;
  font-weight: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

small {
  font-size: 0.85rem;
  font-size: calc(0.85rem + 0.2vw);
  line-height: 1.2;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Menlo, monospace;
}

hr {
  height: 0;
  border: 0;
  box-sizing: content-box;
  overflow: visible;
  margin: 1em 0;
  border-bottom: 1px solid gray;
}

iframe {
  border: 0;
  outline: 0;
}

img {
  width: auto;
  height: auto;
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

ol {
  margin-bottom: 1em;
  list-style: decimal outside;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}

/* 
=============================================================================
base - keyframes
============================================================================= 
*/
.type-small-x {
  font-size: 0.7rem;
  font-size: calc(0.7rem + 0.2vw);
  line-height: 1.5;
}

.type-small {
  font-size: 0.85rem;
  font-size: calc(0.85rem + 0.2vw);
  line-height: 1.5;
}

.type-base {
  font-size: 1rem;
  font-size: calc(1rem + 0.2vw);
  line-height: 1.5;
}

.type-large {
  font-size: 1.3rem;
  font-size: calc(1.3rem + 0.2vw);
  line-height: 1.5;
}

.type-large-x {
  font-size: 1.9rem;
  font-size: calc(1.9rem + 0.2vw);
  line-height: 1.5;
}

.type-large-xx {
  font-size: 2.2rem;
  font-size: calc(2.2rem + 0.2vw);
  line-height: 1.5;
}

.type-large-xxx {
  font-size: 2.5rem;
  font-size: calc(2.5rem + 0.2vw);
  line-height: 1.5;
}

.hidden-visually,
.hide-v {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden-visually--focusable:active, .hidden-visually--focusable:focus,
.hide-v--focusable:active,
.hide-v--focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.cf,
.clearfix {
  *zoom: 1;
}
.cf:before, .cf:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  flex-basis: 0;
  order: 1;
}
.cf:after,
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.no-scroll-y {
  overflow-y: hidden;
}

.no-scroll-x {
  overflow-x: hidden;
}

@media (print) {
  .no-print {
    display: none;
  }

  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a,
a:visited {
    text-decoration: underline;
  }

  /* Don't show links for images, or javascript/internal links */
  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*thead {
    display: table-header-group;
  }*/
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=framework.css.map */