// This is the import for the entire framework 
// So we can demo it in the documentation

// Note: Why I'm writing this path directly to the other package
// - Docs can cheat a little
// - This module is run from the create-docs module which already needs
//   access to the sass package. This module was loading it from there but
//   dart-sass is loading this from this directory (which it doesn't include b/c cyclical dependencies)

@use "../../../sass/scss/packages/minimal" as ulu;

@include ulu.base-styles();
@include ulu.helper-styles();

@include ulu.breakpoint-min("small") {
  body {
    color: red;
  }
}
@include ulu.breakpoint-max("small") {
  body {
    color: blue;
  }
}
@include ulu.breakpoint-min-max("small", "medium") {
  body {
    color: green;
  }
}