////
/// @group helpers
////

/// Printed Media Styles 
/// @name helper-print-styles
/// @example scss
///  @include ulu.helper-print-styles();

@mixin styles {
  // Note: this is an old framework stylesheet (may be outdated)
  @media (print) {
    .no-print { 
      display: none; 
    }
    * {
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
      filter: none !important;
    }
  
    /* Black prints faster: h5bp.com/s */
    a, 
    a:visited {
      text-decoration: underline;
    }
  
    /* Don't show links for images, or javascript/internal links */
    pre, 
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*thead {
      display: table-header-group;
    }*/
  
    /* h5bp.com/t */
    tr, img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    p, 
    h2, 
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2, 
    h3 {
      page-break-after: avoid;
    }
  }
}