////
/// @group Helpers:Typography
////

@use "sass:map";
@use "../lib/utils";
@use "../lib/selector";
@use "../lib/typography";

/// Prints Typography Helper styles

@mixin styles {
  
  @include utils.file-header('helpers', 'typography');

  $prefix: selector.class("type");

  @each $size, $values in typography.$sizes {
    #{ $prefix }-#{$size} {
      @include typography.size($size);
    }
  }
  
  #{ $prefix }-light    { font-weight: 300; }
  #{ $prefix }-normal   { font-weight: normal; }
  #{ $prefix }-semibold { font-weight: 600; }
  #{ $prefix }-italic   { font-style: italic; }
  #{ $prefix }-bold     { font-weight: bold; }

  #{ $prefix }-center   { text-align: center; }
  #{ $prefix }-left     { text-align: left; }
  #{ $prefix }-right    { text-align: right; }

  #{ $prefix }-upper    { text-transform: uppercase; }
  #{ $prefix }-lower    { text-transform: lowercase; }
  #{ $prefix }-title    { text-transform: capitalize; }

  #{ $prefix }-word-break { @include typography.word-break(); }
  #{ $prefix }-word-break-all { @include typography.word-break(true); }
}