////
/// @group helpers
////

@use "../utils";
@use "../utility";
@use "../layout";

/// Print utilities helper styles
/// @name helper-utilities-styles
/// @example scss
///  @include ulu.helper-utilities-styles();

@mixin styles {

  @include utils.file-header('helpers', 'utilities');
  
  // Consider removing
  .clearfix,
  .cf { 
    @include layout.clearfix();
  }
  .hidden {
    display: none;
  }
  .no-scroll-y { 
    overflow-y: hidden; 
  }
  .no-scroll-x { 
    overflow-x: hidden; 
  }
}