////
/// @group Helpers:Utilities
////

@use "../lib/utils";
@use "../lib/utility";

/// Print utilities helper styles

@mixin styles {

  @include utils.file-header('helpers', 'utilities');
  
  // Consider removing
  .clearfix,
  .cf { 
    @include utility.clearfix();
  }
  .hidden {
    display: none;
  }
  .no-scroll-y { 
    overflow-y: hidden; 
  }
  .no-scroll-x { 
    overflow-x: hidden; 
  }
}