// Consider removing
@mixin styles {

  .cf,
  .clearfix { 
    &:before,
    &:after {
      content: "";
      display: table;
      flex-basis: 0; // Flexbox, clear fix for pseudo elements in Safari
      order: 1;
    }
    &:after { clear: both; }
    *zoom: 1;
  }
  .hidden {
    display: none;
  }
  .no-scroll-y { 
    overflow-y: hidden; 
  }
  .no-scroll-x { 
    overflow-x: hidden; 
  }
}