@use "~@ulu/sass/scss/packages/minimal" as ulu;

$color-type:                  rgb(55, 54, 55);
$color-type-dark-background:  rgb(242, 242, 242);
$color-link-dark:             rgb(0, 111, 175);
$color-link-light:            rgb(165, 203, 239);
$color-blue-grey:             rgb(34, 61, 77);
$color-red:                   rgb(239, 64, 72);
$color-blue-green:            rgb(25, 106, 123);
$color-blue-light:            rgb(131, 192, 203);
$color-green-blue:            rgb(62, 170, 139);
$color-blue:                  rgb(69, 159, 181);
$color-yellow:                rgb(250, 166, 44);
$color-orange:                rgb(243, 114, 43);

